@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

:root{
	--background-color: #333647;
	--pink-color: #f87652;
	--secondary-color: #bbbbbb;
    --bg-color-of-lists-in-skills-section: #81818180;

	--bg-color-for-form-inputs: #ffffff24;
	--border-color-for-form-inputs: #c4c4c44a;

}
*{
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}
body{
	background-color: var(--background-color) !important;
	overflow-x: hidden;
}

body.menu-open {
	overflow: hidden !important;
	position: fixed;
	width: 100%;
}

.container {
	padding-left: 15px;
	padding-right: 15px;
}

@media (max-width: 767px) {
	.container {
		padding-left: 15px;
		padding-right: 15px;
	}
}

h1,h2,h3,h4,h5,h6,p,td,a{
	cursor: pointer;
}
h1::selection{
	background-color: var(--pink-color);
}
h2::selection{
	background-color: var(--pink-color);
}

h3::selection{
	background-color: var(--pink-color);
}
h4::selection{
	background-color: var(--pink-color);
}
h5::selection{
	background-color: var(--pink-color);
}
h6::selection{
	background-color: var(--pink-color);
}
p::selection{
	color: #fff;
	background-color: var(--pink-color);
}
td::selection{
	background-color: var(--pink-color);
}
a::selection{
	background-color: var(--pink-color);
}
span::selection{
	background-color: var(--pink-color);
}
canvas.particles-js-canvas-el{
	position: absolute;
	height: 100% !important;
	width: 100%;
	top: 0;
	right: 0;
	z-index: -1000;
	margin: 0;
}

/*Nav bar*/
 .nav_section .navbar-brand{
 	font-size: 26px;	
 }

 .navbar.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	background-color: var(--background-color);
  }

  @media (min-width: 992px) {
	.navbar.sticky {
		width: 75%;
	}
  }

  .navbar-collapse {
	background-color: transparent;
  }

  @media (max-width: 991px) {
	.navbar-collapse {
		background-color: var(--background-color) !important;
		margin-top: 15px;
		padding: 15px;
		border-radius: 5px;
		box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
	}
	.navbar-collapse.show {
		background-color: var(--background-color) !important;
	}
  }

.navbar-brand img { 
    width: 60px;
    height: auto; 
    display: inline-block;
    vertical-align: middle; 
}

@media (max-width: 767px) {
	.navbar {
		background-color: var(--background-color) !important;
	}
	.navbar-brand img {
		width: 50px;
	}
	.nav_section .navbar-brand {
		font-size: 20px;
	}
	.nav_section .navbar-nav {
		background-color: var(--background-color);
	}
	.nav_section .navbar-nav li {
		margin: 5px 0;
	}
	.nav_section .navbar-nav li a {
		font-size: 14px;
		padding: 8px 15px;
		display: block;
	}
	.navbar-collapse {
		background-color: var(--background-color) !important;
		margin-top: 10px;
		padding: 10px 15px;
		border-radius: 5px;
	}
	.navbar-collapse.show {
		background-color: var(--background-color) !important;
	}
}

.nav_section .navbar-brand span{
 	color: var(--pink-color);	
 } 
 .nav_section .navbar-nav li{
 	margin: 0px 8px;
 }

 .nav_section .navbar-nav li a{
 	color: #fff !important;
 	font-size: 15px;	
 }

 .nav_section .navbar-nav .nav-link::before{
 	content: '';
 	width: 0px;
 	height: 0px;
 	background-color: white;
 	position: absolute;
 	bottom: 7px;
 	transition: 0.5s;
 }

 .nav_section .navbar-nav .nav-link:hover::before{
 	content: '';
 	height: 2px;
 	width: 17px;
 	background-color: white;
 	position: absolute;
 	bottom: 7px;
 }
 .hero_section .row{
 	min-height: 100vh;
 	align-items: center;
 	display: flex;
 	padding: 80px 0 40px;
 }
 .hero_section .row h1,h2,h3,p{
 	color: white;
 }

 .hero_section .row h3{
 	font-size: 19px;
 	font-weight: 300;
 	margin-bottom: 15px;
 }
  .hero_section .row h3::after{
  	content: '';
  	position: absolute;
  	text-align: center;
  	top: 10px;
  	width: 90px;
  	height: 2px;
  	background-color: white;
  	margin-left: 6px;
  }
  .hero_section .row h1{
  	font-size: 65px;
  	font-weight: 800;
  }

  @media (max-width: 991px) {
	.hero_section .row h1 {
		font-size: 48px;
	}
	.hero_section .row h2 {
		font-size: 18px;
	}
  }
  .hero_section .row h2{
  	font-size: 20px;
  	font-weight: 100;
  	margin: 8px 0px;
  }
  .hero_section .row p{
  	font-size: 13px;
  	margin-top: 13px;
  	line-height: 21px;
  	color: var(--secondary-color);
  }

 .hero_section .row button{
 	border-radius: 10px;
 	font-size: 19px;
 	color: white;
 	background-color: var(--pink-color);
 	border: 3px solid var(--pink-color);
 	width: 113px;
 	font-family: 'poppins',sans-serif;
 	margin-top: 10px;
 }

 .hero_section .row button:hover{
 	animation: swing;
 	animation-duration: 0.5s;
 	background-color: white;
 	color: black;
 	border-color: white;
 }
 .hero_section .row img{
 	width: 45%;
 }

h5 a{
	color: #fff;
}
h5 a:hover{
	text-decoration: none;
	color: var(--pink-color);
}

 td a{
	color: #fff;
 }
 td a:hover{
	text-decoration: none;
	color: var(--pink-color);
 }

 @media (max-width: 1200px) and (min-width: 993px){
 	.hero_section .row h1{
 		font-size: 58px;
 	}
 }

 @media (max-width: 993px) and (min-width: 763px){
 	.hero_section .row h1{
 		font-size: 42px;
 	}
 	.hero_section .row h2{
 		font-size: 15px;
 	}
 	.hero_section .row p{
 		font-size: 11px;
 	}
 	.hero_section .row h3{
 		font-size: 15px;
 	}
 	.hero_section .row button{
 		font-size: 15px;
 	}
 }

 @media (max-width: 763px) and (min-width: 500px){
 	.hero_section{
 		margin: 80px 0px;
 	}
 	.hero_section .row{
 		padding: 40px 0;
 	}
 	.hero_section .row h1{
 		font-size: 46px;
 	}
 	.hero_section .row h2{
 		font-size: 15px;
 		text-align: center;
 	}
 	.hero_section .row p{
 		font-size: 11px;
 		text-align: center;
 	}
 	.hero_section .btn-container{
 		justify-content: center;
 		text-align: center;
 	}
 	.hero_section .row h3{
 		font-size: 18px;
 		text-align: center;
 		margin-bottom: 0px;
 	}
 	.hero_section .row h3::after{
 		width: 0px;
 	}
 	.hero_section .row button{
 		font-size: 15px;
 	}
 	.hero_section .btn-container button{
 		width: 100px;
 		height: 43px;
 		font-size: 15px;
 		text-align: center;
 	}
 	.hero_section img{
 		width: 60%;
 		margin-top: 20px;
 	}
 }

 @media (max-width: 499px) {
	.hero_section {
		margin: 80px 0 40px;
	}
	.hero_section .row {
		padding: 20px 0;
		min-height: auto;
	}
	.hero_section .row h1 {
		font-size: 32px;
		text-align: center;
	}
	.hero_section .row h2 {
		font-size: 14px;
		text-align: center;
	}
	.hero_section .row h3 {
		font-size: 16px;
		text-align: center;
	}
	.hero_section .row h3::after {
		width: 0px;
	}
	.hero_section .row p {
		font-size: 12px;
		text-align: center;
		padding: 0 15px;
	}
	.hero_section .btn-container {
		display: flex;
		justify-content: center;
		margin-top: 20px;
	}
	.hero_section .row button {
		font-size: 14px;
		width: 100px;
		height: 40px;
	}
 }

 /*About us Section*/
 .about_section{
    background-color: #212A39;
    padding: 170px 0;
 }

 @media (max-width: 991px) {
	.about_section {
		padding: 100px 0;
	}
 }
 .about_section #heading{
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 0.5px;
    line-height: 57px;
 }
 .about_section .lets_talk{
    color: white;
    font-weight: 400;
    margin-top: 14px;
 }
 .about_section #gmail{
    font-weight: 600;
    font-size: 15px;
    color: var(--pink-color);
    margin-top: 35px;
    word-spacing: 6px;
 }
 .about_section .contact_info{
    margin-top: 15px;
 }
  .about_section .contact_info h5{
    color: white;
    font-size: 15px;
    font-weight: 400;
    word-spacing: 6px;
  }
  .about_section .about_me_right_section #txt{
    font-size: 15px;
    margin-top: 13px;
    line-height: 25px;
    color: var(--secondary-color);
  }
.about_section .about_me_right_section hr{
    margin: 0px;
    border: 0.5px solid var(--pink-color);
    width: 6rem;
  }
  .about_section .about_me_right_section table td{
    border: none;
    color: white;
    font-size: 13px;
    padding: 8px 5px;
  }

  @media (max-width: 767px) {
	.about_section .about_me_right_section table {
		width: 100%;
		font-size: 12px;
	}
	.about_section .about_me_right_section table td {
		padding: 6px 3px;
		font-size: 12px;
		word-break: break-word;
	}
  }
  .about_section .about_me_right_section .btn{
    border-radius: 7px;
    font-size: 15px;
    color: white;
    background-color: var(--pink-color);
    border: 3px solid var(--pink-color);
    font-family: 'poppins',sans-serif;
    margin-top: 10px;
  }
  .about_section .about_me_right_section .btn:hover{
    animation: swing;
    animation-duration: 0.5s;
  }
   @media (max-width: 993px) and (min-width: 768px){
    .about_section {
		padding: 100px 0;
	}
    .about_section .about_me_right_section #txt{
        font-size: 12px;
    }
    .about_section #heading{
        font-size: 32px;
		line-height: 40px;
    }
   }

   @media (max-width: 767px) {
	.about_section {
		padding: 60px 0;
	}
	.about_section #heading {
		font-size: 28px;
		line-height: 36px;
		text-align: center;
	}
	.about_section .lets_talk {
		text-align: center;
	}
	.about_section #gmail {
		text-align: center;
		font-size: 13px;
	}
	.about_section .contact_info {
		text-align: center;
	}
	.about_section .contact_info h5 {
		font-size: 13px;
	}
	.about_section .about_me_right_section {
		margin-top: 40px;
	}
	.about_section .about_me_right_section #heading {
		text-align: left;
	}
	.about_section .about_me_right_section #txt {
		font-size: 13px;
		text-align: justify;
	}
	.about_section .about_me_right_section table {
		font-size: 12px;
	}
	.about_section .about_me_right_section .btn {
		width: 100%;
		margin-top: 20px;
	}
   }

   /*Skill Section*/
   .skills_section{
    padding: 100px 0;
   }

   @media (max-width: 991px) {
	.skills_section {
		padding: 80px 0;
	}
   }
   .skills_section_left_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
   }
   .skills_section #heading{
    font-weight: 600;
    font-size: 50px;
   }
   .skills_section hr{
    border: 0.5px solid var(--pink-color);
    width: 6rem;
    margin: 12px 0px;
   }
   .skills_section p{
    color: var(--secondary-color);
    font-size: 13px;
   }
   .skills_section .social_media_icons .list-group-item{
    border: none;
    border-left: 2px solid var(--pink-color);
    border-radius: 0px;
    margin: 5px 0px;
    width: 200px;
    background: var(--bg-color-of-lists-in-skills-section);
    font-size: 14px;
   }
   .skills_section .social_media_icons .list-group-item a{
    text-decoration: none;
    color: white;
    transition: 0.5s;
   }
   .skills_section .social_media_icons .list-group-item:hover a{
    margin-left: 10px;
   }

   .skills_section_right_section .each_skills{
    margin: 25px 0 ;
   }
   .skills_section_right_section .each_skills span{
    color: white !important;
    font-size: 14px;
   }
   .skills_section_right_section .each_skills .progress{
    background-color: var(--bg-color-of-lists-in-skills-section);
    border-radius: 100px;
    margin-top: 3px;
    height: 10px;
   }
   .skills_section_right_section .each_skills .progress-bar{
    background-color: var(--pink-color)!important;
    color: transparent;
   }

   @media (max-width: 767px) {
	.skills_section {
		padding: 60px 0;
	}
	.skills_section_left_section {
		margin-bottom: 40px;
		text-align: center;
	}
	.skills_section #heading {
		font-size: 32px;
		text-align: center;
	}
	.skills_section hr {
		margin: 12px auto;
	}
	.skills_section p {
		text-align: center;
	}
	.skills_section .social_media_icons {
		display: flex;
		justify-content: center;
	}
	.skills_section .social_media_icons .list-group {
		width: 100%;
		max-width: 300px;
	}
	.skills_section .social_media_icons .list-group-item {
		width: 100%;
	}
	.skills_section_right_section {
		padding: 0 15px;
	}
	.skills_section_right_section .each_skills {
		margin: 20px 0;
	}
   }

   /* Portfolio Section */
   .portfolio_section{
	background: #282a39;
	padding: 120px 0 0;
   }

   @media (max-width: 991px) {
	.portfolio_section {
		padding: 80px 0 0;
	}
   }
   .portfolio_section .nav-tabs{
	border: none;
	width: 32%;
	text-align: center;
   }
   .portfolio_section .nav-tabs .nav-link.active{
	border: none;
	color: white;
	border-bottom: 2px solid var(--pink-color) !important;
	background: transparent;
   }
   .portfolio_section .nav-tabs .nav-link.active:hover{
	border-bottom: 2px solid var(--pink-color) !important;
   }
   .portfolio_section .nav-tabs .nav-item.show .nav-link{
	font-weight: 400;
	font-size: 14px;
	background: transparent !important;
   }
   .portfolio_section .nav-tabs .nav-link:hover{
	border: none;
   }
   .portfolio_section .tab-content .card {
	margin-bottom: 20px;
   }

   .portfolio_section .tab-content .card img{
	border: 2px solid white;
	width: 100%;
	height: auto;
	display: block;
   }

   @media (max-width: 991px) {
	.portfolio_section {
		padding: 60px 0 0;
	}
	.portfolio_section .nav-tabs {
		width: 100%;
		flex-direction: column;
	}
	.portfolio_section .nav-tabs .nav-item {
		width: 100%;
		margin-bottom: 10px;
	}
	.portfolio_section .nav-tabs .nav-link {
		width: 100%;
		text-align: center;
	}
   }

   @media (max-width: 767px) {
	.portfolio_section {
		padding: 60px 0 0;
	}
	.portfolio_section h1 {
		font-size: 32px !important;
	}
	.portfolio_section .card-columns {
		column-count: 1 !important;
	}
	.portfolio_section .tab-content {
		padding: 20px 0 !important;
	}
   }

   /* Contact Section */
   .contact_section{
	background: var(--background-color);
	padding-bottom: 170px;
	margin-top: 160px;
	padding-top: 150px;
   }
   .contact_section .heading{
	font-weight: 600;
	font-size: 50px;
   }
   .contact_section hr{
	border: 0.5px solid var(--pink-color);
	width: 6rem;
	margin: 12px 0;
   }
   .contact_section .txt{
	color: var(--secondary-color);
	font-size: 13px;
   }
   .contact_section form .form-control{
	background: var(--bg-color-for-form-inputs);
	border: 2px solid var(--bg-color-for-form-inputs);
	border-radius: 0px;
	color: #fff;
	padding: 12px 15px;
   }

   .contact_section form .form-control::placeholder {
	color: rgba(255, 255, 255, 0.6);
   }
   .contact_section form button{
	background: var(--pink-color);
	border: 2px solid var(--pink-color);
	color: white;
	width: 100px;
	font-size: 15px;
	padding: 10px 20px;
   }

   @media (max-width: 767px) {
	.contact_section form button {
		width: 100%;
		margin-top: 10px;
	}
   }
   .contact_section form button:hover{
	animation: swing;
	animation-duration: 0.5s;
   }
   .contact_section form button:disabled {
	opacity: 0.6;
	cursor: not-allowed;
   }
   #form-message {
	margin-bottom: 20px;
	padding: 15px;
	border-radius: 5px;
	font-size: 14px;
   }
   #form-message.alert-success {
	background-color: #d4edda;
	color: #155724;
	border: 1px solid #c3e6cb;
   }
   #form-message.alert-danger {
	background-color: #f8d7da;
	color: #721c24;
	border: 1px solid #f5c6cb;
   }
   .contact_section ul li{
	color: white;
	font-size: 15px;
	margin-bottom: 12px;
   }
   .contact_section ul li .fa{
		color: var(--pink-color);
   }
   .contact_section .info{
	margin-top: 20px;
   }

   .contact_section .mapouter {
	width: 100%;
	max-width: 100%;
   }

   .contact_section .gmap_canvas {
	width: 100% !important;
	height: 400px !important;
   }

   .contact_section .gmap_canvas iframe {
	width: 100% !important;
	height: 100% !important;
   }

   @media (max-width:991px) and (min-width:768px) {
	.contact_section {
		padding-top: 80px;
		padding-bottom: 80px;
		margin-top: 80px;
	}
	.contact_section .heading{
		font-size: 42px;
	}
   }

   @media (max-width: 767px) {
	.contact_section {
		padding-top: 60px;
		padding-bottom: 60px;
		margin-top: 60px;
	}
	.contact_section .heading {
		font-size: 32px;
		text-align: center;
	}
	.contact_section hr {
		margin: 12px auto;
	}
	.contact_section .txt {
		text-align: center;
	}
	.contact_section form {
		margin-top: 30px;
	}
	.contact_section .info {
		margin-top: 40px;
		text-align: center;
	}
	.contact_section .info li {
		font-size: 14px;
		margin-bottom: 15px;
	}
	.contact_section .gmap_canvas {
		height: 300px !important;
	}
   }

   /* Footer Section */
   .footer-area{
	background: #212A39;
	border-top: 2px solid var(--bg-color-for-form-inputs);
	padding: 40px 0;
   }
   .footer-area .navbar-brand{
	font-size: 23px;
   }
   .footer-area p{
	margin-top: 13px;
	color: var(--secondary-color);
	font-size: 12px;
   }
   .footer-area .logo-area .fa{
	color: var(--pink-color);
	font-size: 17px !important;
	border: 2px solid var(--pink-color);
	padding: 10px;
	height: 40px;
	width: 40px;
	display: inline-block;
	text-align: center;
	justify-content: center;
	border-radius: 100%;
	margin-right: 5px;
   }
   .footer-area .logo-area .fa:hover{
		animation: swing;
		animation-duration: 05s;
		background: white;
	}
	.footer-area .row .column .heading{
		font-weight: 400 !important;
		font-size: 21px;
		color: white;
	}
	.footer-area .list-group .list-group-item{
		margin: -3px 0;
		color: white;
		transition: 0.5s !important;
	}
	.footer-area .list-group .list-group-item:hover i{
		padding-right: 10px;
	}
	.footer-area .list-group .list-group-item i{
		font-size: 10px;
		color: var(--pink-color);
		transition: 0.5s;
	}

	@media (max-width:767px) {
		.footer-area {
			padding: 40px 0;
		}
		.footer-area .row {
			text-align: center;
		}
		.footer-area .logo-area {
			margin-bottom: 30px;
		}
		.footer-area .links{
			margin-bottom: 30px;
			display: flex;
			justify-content: center;
		}
		.footer-area .row .column {
			margin-bottom: 30px;
		}
		.footer-area .row .column .heading{
			font-size: 18px !important;
		}
		.footer-area .list-group {
			align-items: center;
		}
		.footer-area .list-group .list-group-item {
			text-align: center;
			justify-content: center;
		}
	}

	@media (max-width: 499px) {
		.footer-area p {
			font-size: 11px;
			padding: 0 15px;
		}
		.footer-area .navbar-brand {
			font-size: 20px;
		}
	}

	/* Scroll to Top Button */
	.scroll-to-top {
		position: fixed;
		bottom: 30px;
		right: 30px;
		width: 50px;
		height: 50px;
		background-color: var(--pink-color);
		color: white;
		border: none;
		border-radius: 50%;
		cursor: pointer;
		display: none;
		align-items: center;
		justify-content: center;
		z-index: 999;
		box-shadow: 0 4px 12px rgba(248, 118, 82, 0.4);
		transition: all 0.3s ease;
		font-size: 20px;
	}

	.scroll-to-top:hover {
		background-color: white;
		color: var(--pink-color);
		transform: translateY(-5px);
		box-shadow: 0 6px 16px rgba(248, 118, 82, 0.6);
	}

	.scroll-to-top:active {
		transform: translateY(-2px);
	}

	.scroll-to-top.show {
		display: flex;
		animation: fadeInUp 0.3s ease;
	}

	@keyframes fadeInUp {
		from {
			opacity: 0;
			transform: translateY(20px);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}

	@media (max-width: 767px) {
		.scroll-to-top {
			bottom: 20px;
			right: 20px;
			width: 45px;
			height: 45px;
			font-size: 18px;
		}
	}
